*/__pycache__/*
agrov/migrations/__pycache__/
community_chat/migrations/__pycache__/
users/migrations/__pycache__/
weather/migrations/__pycache__/
db.sqlite3
.env
__pycache__/
*.pyc
iiit/*

media/*
tf_env/
weather/
